<section>
  <div class="container">
    <div class="box row g-0 shadow-sm border">
      <div class="col-6 overflow-hidden d-none d-md-block">
        <img src="login.jpg" class="object-fit-cover" alt="Login tasks img">
      </div>
      <div class="col-md-6 p-5 text-center bg-white">
        <img src="logo.png" class="mb-1" alt="Logo">
        <h2 class="mb-5">TaskFlow</h2>

        <app-login />
        
        <p class="text-muted mt-5 pt-5">
          © 2024 TaskFlow. Design & <br> Develop with love by 
          <span class="text-main">MW</span>.
        </p>
        
      </div>
    </div>
  </div>
</section>