<section>
  <div class="container">
    <div class="box row g-0 shadow-sm border">
      <div class="col-6 overflow-hidden d-none d-md-block">
        <img src="auth.jpg" class="object-fit-cover" alt="Auth tasks img">
      </div>
      <div class="col-md-6 px-5 py-3 text-center bg-white">
        <div class="d-flex justify-content-center align-items-center gap-1 mb-4">
          <img src="logo.png" class="mb-1" alt="Logo">
          <h3 class="mb-0 text-main-dark fs-5 fw-bolder">TaskFlow</h3>
        </div>

        <router-outlet />
        
        <p class="text-muted pt-4">
          © 2024 TaskFlow. Design & <br> Develop with love by 
          <span class="text-main">MW</span>.
        </p>
        
      </div>
    </div>
  </div>
</section>