<h5 class="mb-4 pb-2">Register</h5>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <app-control label="Username" [control]="registerForm.controls.username" 
    [validations]="[{errorCode: 'required', msg: 'Username is required.'}, {errorCode: 'minlength', msg: 'Usernames must have a minimum of three characters.'}]">
    <input pInputText id="Username" type="text" formControlName="username" aria-describedby="Username-help" />
  </app-control>

  <app-control label="Email" [control]="registerForm.controls.email" 
    [validations]="[{errorCode: 'required', msg: 'Email is required.'}, {errorCode: 'pattern', msg: 'Enter a valid email.'}]">
    <input pInputText id="Email" type="email" formControlName="email" aria-describedby="Email-help" />
  </app-control>

  <app-control label="Password" [control]="registerForm.controls.password" 
    [validations]="[{errorCode: 'required', msg: 'Password is required.'}, {errorCode: 'minlength', msg: 'Password must have a minimum of five characters.'}]">
    <input pInputText id="Password" type="password" formControlName="password" aria-describedby="Password-help" />
  </app-control>

  <app-control label="Confirm-Password" [control]="registerForm.controls.confirmPassword" 
    [validations]="[{errorCode: 'required', msg: 'Confirm-Password is required.'}, {errorCode: 'matchPassword', msg: 'Password and Confirm-Password must be matching.'}]">
    <input pInputText id="Confirm-Password" type="password" formControlName="confirmPassword" aria-describedby="Confirm-Password-help" />
  </app-control>

  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-main-dark mb-1 w-100">Register</button>
  <a routerLink="/auth/login">Have an account?</a>
</form>

@if (loading()) {
  <div class="loading-overlay">
    <p-progressSpinner ariaLabel="loading"/>
  </div>
}